@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
*{
    margin: 0px;
    padding: 0px;
    display: 0px;
}
#main{
    color: aquamarine;
    font-family: 'DotGothic16', sans-serif;
}
.sorvete{
    width: 350px;
    height: auto;
}

.titulo{

color:blue;
}

